<?xml version='1.0' encoding='UTF-8'?>
<slave>
  <temporaryOfflineCause class="hudson.node_monitors.DiskSpaceMonitorDescriptor$DiskSpace">
    <timestamp>1499235596302</timestamp>
    <path>/var/tmp/jenkins_slave11</path>
    <size>863072256</size>
    <triggered>true</triggered>
    <trigger>hudson.node_monitors.DiskSpaceMonitor</trigger>
  </temporaryOfflineCause>
  <name>Docker_slave</name>
  <description></description>
  <remoteFS>/var/tmp/jenkins_slave11</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.9">
    <host>10.242.138.115</host>
    <port>22</port>
    <credentialsId>e7fa6360-1fbe-42de-a055-916e8dd93c81</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
  </launcher>
  <label></label>
  <nodeProperties/>
  <userId>anonymous</userId>
</slave>